PORT = [any port number]
MONGODB_URL = [your mongo db connection string unit .net]
JWT_SECRET = [your jwt secret]
ADMIN_EMAIL = [your admin password used for sending otp]
ADMIN_PASSWORD = [your app password]