@import url("https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@100..800&family=Baloo+Chettan+2:wght@400..800&family=Noto+Serif+Malayalam:wght@100..900&family=Outfit:wght@100..900&family=Prata&family=Story+Script&display=swap");

@import "tailwindcss";

a.active hr {
  display: block;
}

* {
  font-family: Outfit;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 640px) {
  a.active {
    background-color: black;
    color: white;
  }
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 9px;
  height: 13px;
}
